@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */

:root {
    --body-bg-color: #f8f9fa;
    --body-color: #333;

    --primary-color: #3a6cf4;
    --secondary-color: #601cfc;
    --btn-hover-bg-color: #0a49f6;

    --light-bg-color: #f0f0f0;
    --dark-bg-color: #000016;
    --card-bg-color: white;
    --project-card-color: #000;
    --project-category-color: #555;

    --main-text-color: #fff;
    --text-color: #333;
    --secondary-text-color: #666;

    --link-hover-color: #601cfc;

    --scrollbar-color: #3a6cf4;

    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --card-box-shadow-color: rgba(0, 0, 0, 0.15);
    --hover-box-shadow-color: rgba(0, 0, 0, 0.25);

    --icons-color: #fff;

    --facebook-color: #1877F2;
    --instagram-color: #E4405F;
    --github-color: #333;
    --linkedin-color: #0A66C2;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body-color);
}

/* HEADER */

header {
    background-color: var(--light-bg-color);
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

header .logo {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: 700;
    transition: 0.3s;
}

/* header .logo:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
} */

header nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
}

header nav a:hover {
    /* font-size: 1.2rem; */
    color: var(--secondary-color);
}

header nav a.active{
    /* border: 2px solid #666;
    border-radius: 5px;
    padding: 5px; */
    color: var(--secondary-color);
}

/* GENERAL STYLE TO ALL THE SECTIONS */

main,
section {
    padding: 100px 200px;
}

/* MAIN */

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/images/background-portfolio.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main h1 {
    color: var(--main-text-color);
    font-size: 1.4em;
    font-weight: 500;
}

main h1 span {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 3em;
    font-weight: 600;
}

main h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--main-text-color);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
}

main .main-button {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--main-text-color);
    display: inline-block;
    padding: 0.9375em 2.187em;
    margin-bottom: 30px;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.5s;
}

main .main-button:hover {
    background-color: var(--btn-hover-bg-color);
    transform: scale(1.05);
}

/* MAIN and FOOTER social icons */
.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 30px;
}

.social-icons a i {
    color: var(--icons-color);
    font-size: 1.7em;
    transition: 0.3s;
}

.social-icons a:hover .fa-facebook {
    color: var(--facebook-color);
}

.social-icons a:hover .fa-instagram {
    color: var(--instagram-color);
}

.social-icons a:hover .fa-github {
    color: var(--github-color);
}

.social-icons a:hover .fa-linkedin {
    color: var(--linkedin-color);
}

/* SERVICES */

.title {
    color: var(--primary-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-bg-color);
    width: 17em;
    box-shadow: 0 5px 25px var(--card-box-shadow-color);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 25px var(--hover-box-shadow-color);
}

.icon {
    color: var(--primary-color);
    font-size: 5em;
    margin-bottom: 15px;
}

.info h3 {
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
}

.info p {
    font-size: 0.9em;
    line-height: 1.5;
}

/* PROJECTS */

.projects {
    background-color: var(--dark-bg-color);
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: var(--card-bg-color);
    color: var(--project-card-color);
    border: none;
    min-height: 14em;
    width: 17.25em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s;
    overflow: hidden;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--project-category-color);
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}

.more-details:hover {
    color: var(--secondary-color);
}

/* CONTACT */

.cards-contact .content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards-contact .icon {
    font-size: 4.5em;
}

.cards-contact .info h3 {
    /* color: var(--primary-color); */
    color: var(--text-color);
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cards-contact .info p {
    font-size: 1em;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.cards-contact .phone p {
    letter-spacing: 2px;
}

.cards-contact .card {
    transition: 0.3s;
    text-decoration: none;
}

.cards-contact .card:hover {
    cursor: pointer;
    box-shadow: 0 5px 25px var(--hover-box-shadow-color);
    color: var(--secondary-color);
    transform: scale(1.05);
}

.cards-contact .card a {
    text-decoration: none;
    color: inherit;
}

/* Testimonial Section */
/* .testimonial-section {
    background: #eee;
    padding: 20px;
    text-align: center;
} */

/* .testimonial {
    font-style: italic;
    margin: 0;
} */

/* Scroll-to-Top Button */
.scroll-to-top {
    position: fixed;
    /* bottom: 55px; */
    /* right: 20px; */
    bottom: 10%;
    right: 5%;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.scroll-to-top:hover{
    background-color: #444;
}

.scroll-to-top:active{
    background-color: #555;
}

.scroll-to-top.visible {
    display: block;
}

/* FOOTER */

footer {
    background-color: var(--dark-bg-color);
    color: var(--main-text-color);
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-title {
    font-size: 1.2em;
    font-weight: 600;
}

footer .footer-title span.name {
    color: var(--primary-color);
}

footer .social-icons a i {
    font-size: 1.3em;
    padding-right: 16px;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {

    /* HEADER */
    header {
        padding: 10px 20px;
    }

    header .logo {
        font-size: 1.25rem;
    }

    header nav a {
        font-size: 0.9em;
        margin-left: 10px;
    }

    /* header nav a:hover {
        font-size: 1rem;
    } */

    /* GENERAL STYLE */
    main,
    section {
        padding: 50px 20px;
    }

    /* MAIN */
    main {
        padding-top: 60px;
    }

    main h1 {
        font-size: 1rem;
    }

    main h1 span {
        font-size: 1.75rem;
    }

    main h2 {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    main .main-button {
        font-size: 0.75em;
        padding: 0.75em 1.5em;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .social-icons a {
        margin-right: 16px;
    }

    .social-icons a i {
        font-size: 1.2em;
    }

    /* SERVICES */

    .title {
        font-size: 1.5em;
        margin: 16px 0;
    }

    .card {
        width: 80%;
        margin: 16px 0;
    }

    .icon {
        font-size: 2em;
    }

    .info h3 {
        color: var(--primary-color);
        font-size: 0.9em;
    }

    .info p {
        font-size: 0.7em;
        line-height: 1.5;
    }

    /* PROJECTS */

    .projects .content {
        margin-top: 16px;
    }

    .project-card {
        min-height: 10em;
        width: 80%;
        margin: 16px 0;
    }

    .project-category {
        font-size: 0.7em;
    }

    .project-title {
        font-size: 0.7em;
    }

    /* CONTACT */

    .cards-contact .title {
        font-size: 1.25em;
    }

    .cards-contact .content {
        gap: 0px;
    }

    .cards-contact .icon {
        font-size: 2.5em;
    }

    .cards-contact .info h3 {
        font-size: 0.9em;
    }

    .cards-contact .info p {
        font-size: 0.7em;
    }

    /* FOOTER */

    footer {
        padding: 10px;
    }

    footer .footer-title {
        font-size: 0.8em;
        font-weight: 600;
    }

    footer .social-icons a i {
        font-size: 0.8em;
        padding-right: 0px;
    }
}

@media (min-width: 481px) {

    /* HEADER */
    header {
        padding: 10px 40px;
    }

    header .logo {
        font-size: 1.5rem;
    }

    header nav a {
        margin-left: 12px;
    }

    /* header nav a:hover {
        font-size: 1.2rem;
    } */

    /* GENERAL STYLE */
    main,
    section {
        padding: 50px 40px;
    }

    /* MAIN */
    main h1 {
        font-size: 1.25rem;
    }

    main h1 span {
        font-size: 2.25rem;
    }

    main h2 {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

    main .main-button {
        font-size: 0.9em;
        padding: 0.75em 1.5em;
        margin-bottom: 16px;
        border-radius: 10px;
    }

    .social-icons a {
        margin-right: 20px;
    }

    .social-icons a i {
        font-size: 1.4em;
    }

    /* SERVICES */

    .title {
        font-size: 2em;
        margin: 16px 0;
    }

    .card {
        width: 80%;
        margin: 16px 0;
    }

    .icon {
        font-size: 2.5em;
    }

    .info h3 {
        font-size: 1.2em;
    }

    .info p {
        font-size: 0.9em;
        line-height: 1.5;
    }

    /* PROJECTS */

    .projects .content {
        margin-top: 16px;
    }

    .project-card {
        min-height: 10em;
        width: 80%;
        margin: 16px 0;
    }

    .project-category {
        font-size: 0.9em;
    }

    .project-title {
        font-size: 0.9em;
    }

    /* CONTACT */

    .cards-contact .title {
        font-size: 1.5em;
    }

    .cards-contact .content {
        gap: 0px;
    }

    .cards-contact .icon {
        font-size: 2.5em;
    }

    .cards-contact .info h3 {
        font-size: 1.25em;
    }

    .cards-contact .info p {
        font-size: 0.9em;
    }

    /* FOOTER */

    footer {
        padding: 10px 40px;
    }

    footer .footer-title {
        font-size: 0.9em;
        font-weight: 600;
    }

    footer .social-icons a i {
        font-size: 1em;
        padding-right: 0px;
    }
}

@media (min-width: 768px) {
    
    /* HEADER */

    header {
        padding: 10px 60px;
    }

    header .logo {
        font-size: 1.75rem;
    }

    header nav a {
        font-size: 1.2rem;
        margin-left: 30px;
    }

    /* header nav a:hover {
        font-size: 1.5rem;
    } */

    
    /* GENERAL STYLE */

    main,
    section {
        padding: 50px 60px;
    }

    /* MAIN */

    main {
        padding-top: 100px;
    }

    main h1 {
        font-size: 1.5rem;
    }

    main h1 span {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    main .main-button {
        font-size: 1em;
        padding: 0.75em 1.75em;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .social-icons a {
        font-size: 1.15rem;
        margin-right: 22px;
    }

    .social-icons a i {
        font-size: 1.45em;
    }

    /* SERVICES */

    .title {
        font-size: 2em;
        margin: 30px 0;
    }

    .card {
        width: 17rem;
        margin: 1rem;
    }

    .icon {
        font-size: 2.5em;
    }

    .info h3 {
        font-size: 1.2em;
    }

    .info p {
        font-size: 1em;
        line-height: 1.5;
    }

    /* PROJECTS */

    .projects .content {
        margin-top: 16px;
    }

    .project-card {
        width: 17rem;
        margin: 1rem;
    }

    .project-category {
        font-size: 0.9em;
    }

    .project-title {
        font-size: 0.9em;
    }

    /* CONTACT */

    .cards-contact .title {
        font-size: 1.5em;
    }

    .cards-contact .content {
        gap: 0px;
    }

    .cards-contact .icon {
        font-size: 2.5em;
    }

    .cards-contact .info h3 {
        font-size: 1.25em;
    }

    .cards-contact .info p {
        font-size: 1em;
    }

    /* FOOTER */
    footer {
        padding: 20px 60px;
    }

    footer .footer-title {
        font-size: 1.25em;
        font-weight: 600;
    }

    footer .social-icons a i {
        font-size: 1.1em;
        padding-right: 0px;
    }
}

@media (min-width: 1024px) {

    /* HEADER */
    header {
        padding: 10px 200px;
    }

    header .logo {
        font-size: 2rem;
    }

    header nav a {
        font-size: 1.25rem;
        margin-left: 30px;
    }

    /* header nav a:hover {
        font-size: 1.5rem;
    } */

    /* GENERAL STYLE TO ALL THE SECTIONS */

    main,
    section {
        padding: 75px 200px;
    }

    /* MAIN */

    main {
        padding-top: 150px;
    }

    main h1 {
        font-size: 2rem;
    }

    main h1 span {
        font-size: 4rem;
    }

    main h2 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    main .main-button {
        font-size: 1.1em;
        padding: 0.9375em 2.187em;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .social-icons a {
        font-size: 1.15rem;
        margin-right: 30px;
    }

    /* SERVICES */

    .title {
        font-size: 2.2em;
        margin: 30px 0;
    }

    .card {
        width: 17em;
        margin: 1rem;
        padding: 25px;
    }

    .icon {
        font-size: 4em;
    }

    .info h3 {
        font-size: 1.2em;
    }

    .info p {
        font-size: 0.9em;
        line-height: 1.5;
    }

    /* PROJECTS */

    .projects .content {
        margin-top: 30px;
    }

    .project-card {
        min-height: 12em;
        width: 17em;
        margin: 20px;
    }

    .project-category {
        font-size: 0.9em;
    }

    .project-title {
        font-size: 0.9em;
    }

    /* CONTACT */

    .cards-contact .title {
        font-size: 2em;
        margin-bottom: 3rem;
    }

    .cards-contact .content {
        gap: 16px;
    }

    .cards-contact .icon {
        font-size: 4em;
    }

    .cards-contact .info h3 {
        font-size: 1.25em;
    }

    .cards-contact .info p {
        font-size: 1em;
    }

    /* FOOTER */
    footer {
        padding: 20px 200px;
    }

    footer .footer-title {
        font-size: 1.1em;
        font-weight: 600;
    }

    footer .social-icons a i {
        font-size: 1.1em;
        padding-right: 0px;
    }
}
